@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400,500,700");

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 300ms linear 0s; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

body {
  line-height: 26px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #777777; }
  body.blog {
    background: #f1f9ff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #222222; }

button:focus {
  outline: none;
  box-shadow: none; }

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.pad_top {
  padding-top: 120px; }

.section_gap {
  padding: 150px 0; }
  @media (max-width: 991px) {
    .section_gap {
      padding: 70px 0; } }

.section_gap_top {
  padding-top: 150px; }
  @media (max-width: 991px) {
    .section_gap_top {
      padding-top: 70px; } }

.mt-25 {
  margin-top: 25px; }

.mt-45 {
  margin-top: 50px; }

.mt-50 {
  margin-top: 50px; }

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto; } }

/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  max-width: 680px;
  margin: 0px auto 95px; }
  @media (max-width: 991px) {
    .main_title {
      margin: 0px auto 35px; } }
  .main_title .top-part p {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600; }
  .main_title h2 {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .main_title h2 {
        font-size: 40px; } }
  .main_title p {
    margin-bottom: 0px; }

/* End Main Title Area css
============================================================================================ */
.overlay {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.header_area {
  position: static;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  transition: background 0.4s, all 0.3s linear; }
  .header_area .navbar {
    background: #ffffff;
    padding: 0px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 13px/100px "Roboto", sans-serif;
        text-transform: uppercase;
        color: #222222;
        padding: 0px;
        display: inline-block; }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: #4d8eff; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff;
          box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms linear 0s;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px; } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear 300ms linear 0s; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 1px solid #ededed;
            margin-left: 0px;
            transition: all 0.4s linear 300ms linear 0s; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
              line-height: 45px;
              color: #222222;
              padding: 0px 30px;
              transition: all 150ms linear 300ms linear 0s;
              display: block;
              margin-right: 0px; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
              background: #4d8eff;
              color: #fff; }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0px; }
    .header_area .navbar .search {
      font-size: 12px;
      line-height: 60px;
      display: inline-block;
      color: #222222;
      margin-left: 80px; }
      .header_area .navbar .search i {
        font-weight: 600; }
  .header_area + section, .header_area + row, .header_area + div {
    margin-top: 125px; }
  .header_area.navbar_fixed .main_menu {
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; }

.top_menu .container {
  border-bottom: 1px solid #eeeeee; }
.top_menu .header_social li {
  display: inline-block;
  margin-right: 15px; }
  .top_menu .header_social li a {
    font-size: 14px;
    color: #777777;
    display: inline-block;
    line-height: 40px;
    transition: all 300ms linear 0s; }
  .top_menu .header_social li:last-child {
    margin-right: 0px; }
  .top_menu .header_social li:hover a {
    color: #4d8eff; }
.top_menu .nice-select {
  float: none;
  display: inline-block;
  border: 0;
  background: transparent;
  height: 39px; }
.top_menu .dn_btn {
  line-height: 40px;
  display: inline-block;
  font-size: 12px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777;
  transition: all 300ms linear 0s; }
  .top_menu .dn_btn:hover {
    color: #4d8eff; }
  .top_menu .dn_btn:last-child {
    margin-right: 0px; }
.top_menu .lan_pack {
  height: 30px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  line-height: 28px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-left: 19px;
  padding-right: 36px;
  color: #777777;
  background: #f9f9ff;
  margin-right: 5px;
  margin-top: 8px; }
  .top_menu .lan_pack .current {
    color: #777777; }
  .top_menu .lan_pack:after {
    content: "\f0d7";
    border: none !important;
    font: normal normal normal 12px/1 FontAwesome;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    height: auto;
    margin-top: -6px;
    right: 20px; }

/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  position: relative;
  z-index: 1;
  min-height: 780px; }
  .home_banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 780px; }
    .home_banner_area .banner_inner .bg-parallax {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../img/banner/home-banner.jpg) no-repeat scroll center center;
      background-size: cover;
      height: 110%;
      z-index: -1; }
    .home_banner_area .banner_inner .banner_content {
      color: #fff; }
      .home_banner_area .banner_inner .banner_content h5 {
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 15px; }
      .home_banner_area .banner_inner .banner_content h1 {
        font-size: 120px;
        line-height: 60px;
        font-family: "Playfair Display", serif;
        font-weight: 900;
        margin-bottom: 60px;
        color: #fff; }
        @media (max-width: 767px) {
          .home_banner_area .banner_inner .banner_content h1 {
            font-size: 60px;
            margin-bottom: 10px; } }
      .home_banner_area .banner_inner .banner_content .top-text {
        text-align: right;
        max-width: 506px;
        margin: auto;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
        margin-bottom: -10px; }
        @media (max-width: 767px) {
          .home_banner_area .banner_inner .banner_content .top-text {
            max-width: 50%; } }
        @media (max-width: 320px) {
          .home_banner_area .banner_inner .banner_content .top-text {
            max-width: 53%;
            margin-bottom: 10px; } }
      .home_banner_area .banner_inner .banner_content .text {
        max-width: 620px;
        margin: auto; }
        @media (max-width: 320px) {
          .home_banner_area .banner_inner .banner_content .text {
            display: none; } }
      .home_banner_area .banner_inner .banner_content .vdo-btn {
        margin-top: 50px; }

.banner_box {
  max-width: 1620px;
  margin: auto; }

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 300px; }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 300px;
    background: #000000;
    z-index: 1; }
    .banner_area .banner_inner .overlay {
      background: url(../img/banner/banner.jpg) no-repeat scroll center center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 125%;
      bottom: 0;
      z-index: -1;
      opacity: .85; }
    .banner_area .banner_inner .banner_content h2 {
      color: #fff;
      font-size: 60px;
      font-family: "Playfair Display", serif;
      margin-bottom: 0px;
      font-weight: bold; }
    .banner_area .banner_inner .banner_content .page_link a {
      font-size: 14px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      margin-right: 32px;
      position: relative; }
      .banner_area .banner_inner .banner_content .page_link a:before {
        content: "\e87a";
        font-family: 'Linearicons-Free';
        position: absolute;
        right: -25px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
      .banner_area .banner_inner .banner_content .page_link a:last-child {
        margin-right: 0px; }
        .banner_area .banner_inner .banner_content .page_link a:last-child:before {
          display: none; }
      .banner_area .banner_inner .banner_content .page_link a:hover {
        color: #4d8eff; }

/* End Home Banner Area css
============================================================================================ */
/*---------------------------------------------------- */


/* About Area css
============================================================================================ */
.about_area {
  position: relative; }
  .about_area:after {
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom: -23.4%;
    width: 100%;
    background: #f1f9ff;
    z-index: -1; }
    @media (max-width: 767px) {
      .about_area:after {
        bottom: -36.4%; } }
  .about_area.rooms:after {
    bottom: -48.4%; }

/* End About Area css
============================================================================================ */

/* Testimonials Area css
============================================================================================ */
.testimonials-area {
  position: relative; }
  .testimonials-area .quote-img {
    margin-bottom: -60px;
    position: relative;
    z-index: 2; }
  .testimonials-area .owl-thumbs {
    margin-top: -50px;
    position: relative;
    z-index: 2; }
  .testimonials-area .owl-thumb-item {
    margin-right: 20px;
    position: relative; }
    .testimonials-area .owl-thumb-item:last-child {
      margin-right: 0; }
    .testimonials-area .owl-thumb-item.active .overlay-grad {
      background: #4d8eff;
      opacity: .8; }
    .testimonials-area .owl-thumb-item .overlay-grad {
      transition: all 300ms linear 0s;
      cursor: pointer;
      border-radius: 50%; }
      .testimonials-area .owl-thumb-item .overlay-grad:hover {
        background: #4d8eff;
        opacity: .8; }
  .testimonials-area.color-bg {
    background: #f1f9ff; }
  .testimonials-area .owl-carousel .owl-item img {
    width: auto;
    margin: auto; }

.testi-slider {
  margin: auto;
  background: #ffffff; }
  .testi-slider .testi-item {
    text-align: center; }

.testi-item {
  margin-bottom: 40px;
   }
  .testi-item h4 {
    font-size: 21px;
    font-weight: 700;
    margin-top: 65px;
    margin-bottom: 10px; }
  .testi-item .list {
    margin-bottom: 20px; }
    .testi-item .list li {
      display: inline-block; }
      .testi-item .list li a {
        color: #ffc000;
        font-size: 14px; }
  .testi-item p {
    max-width: 605px;
    margin: auto;
    font-style: italic; }

/* End Testimonials Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.footer-area {
  min-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/footer-bg.jpg) no-repeat center;
  background-size: cover; }
  .footer-area h6 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600; }

.copy-right-text i,
.copy-right-text a {
  color: #4d8eff; }

.instafeed {
  margin: 0px -24px;
  padding: 0 15px; }
  @media (max-width: 767px) {
    .instafeed {
      margin: -16px; } }
  @media (max-width: 575px) {
    .instafeed {
      margin: 0px;
      padding: 0; } }
  .instafeed li {
    overflow: hidden;
    width: 25%; }
    .instafeed li img {
      margin: 5px; }

@media (max-width: 575px) {
  .footer-social {
    margin-top: 15px; } }
.footer-social a {
  padding-left: 25px;
  transition: all 300ms linear 0s; }
  @media (max-width: 575px) {
    .footer-social a:first-child {
      padding-left: 0; } }
  .footer-social a:hover i {
    color: #4d8eff; }
.footer-social i {
  color: #cccccc;
  transition: all 300ms linear 0s; }
@media (max-width: 991px) {
  .footer-social {
    text-align: left; } }

.single-footer-widget .footer-nav li {
  list-style: none;
  margin-bottom: 12px; }
  @media (max-width: 991px) {
    .single-footer-widget .footer-nav li {
      margin-bottom: 3px; } }
  .single-footer-widget .footer-nav li a {
    color: #777777; }
    .single-footer-widget .footer-nav li a:hover {
      color: #ffffff; }
.single-footer-widget input {
  border: 1px solid #777777;
  width: 80% !important;
  font-weight: 300;
  background: transparent;
  color: #ffffff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px; }
  .single-footer-widget input:focus {
    box-shadow: none;
    color: #ffffff;
    background: #222222; }
.single-footer-widget .bb-btn {
  background: #4d8eff;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  z-index: 9999;
  cursor: pointer; }
.single-footer-widget .info {
  position: absolute;
  margin-top: 20%;
  color: #fff;
  font-size: 12px;
  background: transparent; }
  .single-footer-widget .info.valid {
    color: green; }
  .single-footer-widget .info.error {
    color: red; }
.single-footer-widget .click-btn {
  background: #4d8eff;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 7px 12px;
  border: 0; }
.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #191919 !important;
  color: #ffffff; }
.single-footer-widget ::selection {
  background-color: #191919 !important;
  color: #ffffff; }
.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
  font-weight: 300; }
.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
  font-weight: 300; }
.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
  font-weight: 300; }

.footer-bottom {
  margin-top: 50px; }
  @media (max-width: 991px) {
    .footer-bottom {
      margin-top: 10px; } }
  @media (max-width: 380px) {
    .footer-bottom {
      text-align: left !important; } }

.footer-text a,
.footer-text i {
  color: #4d8eff; }

/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
