/*styling for pop up form*/ 

.popup-container {
  display: block;
  max-width: 1100px;
  max-height: 100vh;
  padding: 0 30px;
  margin: 0 auto;
  overflow: scroll;
}

.popup-title {
  text-align: center;
  font-size: 3em;
  color: rgb(71, 181, 170);
  cursor: default;
  user-select: none;
}

.popup-subtitle {
  text-align: start;
  margin: 10px;
}

.oogo-form {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.oogo-form .checkbox-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.oogo-form .checkbox-column div {
  width: 50%;
  text-align: left;
}

.oogo-form input[type="checkbox"] {
  display: none;
}

.oogo-form input[type="checkbox"] + label {
  cursor: pointer;
  user-select: none;
}

.oogo-form input[type="checkbox"] + label::before {
  content: "\2714";
  color: white;
  border: 0.1em solid black;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  padding: 0 1.1em 1.5em 0.5em;
  margin: 0.2em;
  transition: 0.2s;
}

.oogo-form input[type="checkbox"] + label:active::before {
  transform: scale(0);
}

.oogo-form input[type="checkbox"]:checked + label::before {
  background: #4CAF50;
  border-color: #4CAF50;
}

.oogo-form .select-container {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3em;
  overflow: hidden;
  border-radius: 6px;
  border: 5px solid #4CAF50;
  margin: 10px 0;
}

.oogo-form select {
  appearance: none;
  outline: 0;
  flex: 1;
  padding: 0 0.5em;
  cursor: pointer;
  font-size: 1em;
}

.oogo-form .select-container::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #4CAF50;
  color: white;
  cursor: pointer;
  pointer-events: none;
}

.oogo-form .button-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.oogo-form .submit-button {
  text-decoration: none;
  padding:15px 30px;
  background: #4CAF50;
  color: white;
  border-radius: 5px;
  margin: 0 50px;
  transition: background-color .6s;
}

.oogo-form .submit-button:hover {
  background: rgb(122, 199, 124);
}